.todays-details-container {
  display: flex;
  justify-content: center;
  padding: 10px;
  width:100%;
}

.todays-details {
  max-width: 1200px; /* Adjusted for better width */
  height: auto;
  margin: 0 ;
  padding: 30px 40px; /* Adjusted padding for balance */
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.chart-container {
  width: 1000px;
  max-height: 400px; /* Limited height for better visual balance */
  margin-bottom: 30px; /* Increased space between chart and button */
}

.details-button {
  margin-top: 20px; /* Increased space above the button */
  background-color: #0056d6;
  color: white;
  padding: 12px 24px; /* Larger padding for button */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  text-align: center;
  transition: background-color 0.3s ease;
  align-self: center;
}

.details-button:hover {
  background-color: #003e9f;
}
